@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Menu de navegação */
header {
  display: flex;
  justify-content: space-between;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(103, 62, 138, 1) 21%,
    rgba(63, 34, 93, 1) 55%,
    rgba(0, 0, 0, 1) 100%
  );
  position: fixed;
  width: 100%;
  height: 6rem;
  align-items: center;
}

header a#portifolio {
  margin: 0 0 0 10vw;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

#btn-menu{
  display: none;
}

ul#menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

ul#menu li {
  padding: 1.5rem;
}

ul#menu li.titulo {
  justify-content: flex-start;
}

ul#menu li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Titulo */
section#titulo-principal {
  width: 100%;
  padding: 10rem 0 0 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#titulo-principal div h1 {
  width: 500px;
  height: 80px;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  background: linear-gradient(
    90deg,
    rgba(103, 62, 138, 1) 21%,
    rgba(63, 34, 93, 1) 55%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  line-height: 4rem;
  font-size: 2rem;
}

section#titulo-principal figure {
  padding: 0 0 0 10rem;
  width: 50%;
}
section#titulo-principal figure img {
  /* border-radius: 20px;
  border-style: solid; */
  width: 70%;
}

section#titulo-principal p {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 0 0 3rem;
}

/* Sobre mim */
section#apresentacao {
  width: 70vw;
  color: white;
  margin: 5vw auto;
  padding: 2rem;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 21%,
    rgba(63, 34, 93, 1) 55%,
    rgba(103, 62, 138, 1) 100%
  );
  box-shadow: 20px 20px 20px 20px #310e47;
}

section#apresentacao h2 {
  /* color: rgba(103,62,138,1); */
}
section#apresentacao img {
  width: 20vw;
  border-radius: 3vw;
  border-style: solid;
}

section#apresentacao p {
  padding: 2rem 3rem 2rem 3rem;
  text-align: justify;
}

/* Projetos */
section#projetos {
  width: 100%;
}

section#projetos a{
  color: black;
  text-decoration: none;
}

section#projetos div#tit-projetos {
  margin: 10rem 20rem 0 20rem;
  text-align: center;
}

section#projetos div#tit-projetos h2 {
  padding: 3rem;
  font-size: 2rem;
}

div#lista-projetos {
  margin: 5rem 5rem;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

div#lista-projetos div.proj {
  width: 20vw;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  box-shadow: 5px 5px 5px 5px #310e47;
}

div#lista-projetos figure img {
  padding: 2rem;
  align-items: center;
  width: 80%;
}

div#lista-projetos div.proj:hover {
  transform: scale(1.3);
  align-items: center;
  cursor: pointer;
}

div#lista-projetos div.proj h3 {
  padding: 2vw;
  font-size: 1.5rem;
}

div#lista-projetos div.proj p {
  padding: 2vw;
}

/* Skills */
section#skills {
  width: 100%;
  text-align: center;
  justify-content: center;
}

section#skills div#tit-skills{
margin: 5rem 20rem 0 20rem;
  text-align: center;
}

section#skills div#tit-skills h2{
  padding: 3rem;
  font-size: 2rem;
}

section#skills div img {
  margin: 5rem;
  width: 8vw;
  justify-content: space-between;
}

 /* Contatos */
 section#contatos {
  border: solid 2px rgba(103, 62, 138, 1);
  border-radius: 20px;
  text-align: center;
  margin: 1rem 5rem;
  justify-content: space-between;
}

section#contatos h2{
  font-size: 2rem;
}

section#contatos div#lista-contatos {
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

section#contatos div {
  text-align: center;
  gap: 3rem;
}

section#contatos .redes {
  width: 5vw;
  transition: 0.3s;
  cursor: pointer;
  flex-wrap: wrap;
}

.redes:hover {
  transform: scale(1.2);
}

section#contatos a {
  text-decoration: none;
}

.perfil {
  text-align: center;
  color: black;
}

.nome-rede {
  text-align: center;
  color: rgba(103, 62, 138, 1);
}

/* Footer */
footer {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(103, 62, 138, 1) 21%,
    rgba(63, 34, 93, 1) 55%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
}

@media (max-width: 1025px){
  section#titulo-principal img{
    display: none;
  }

  /* Projetos */
  section#projetos {
    width: 100%;
  }
  
  section#projetos div#tit-projetos {
    margin: 3rem 5rem;
    text-align: center;
  }
  
  section#projetos div#tit-projetos h2 {
    padding: 3rem;
    font-size: 2rem;
  }
  
  div#lista-projetos {
    margin: 2rem 2rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  
  div#lista-projetos div.proj {
    width: 40vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 5px 5px 5px 5px #310e47;
  }
  
  div#lista-projetos figure img {
    padding: 2rem;
    align-items: center;
    width: 80%;
  }
  
  div#lista-projetos div.proj:hover {
    transform: scale(1.3);
    align-items: center;
    cursor: pointer;
  }
  
  div#lista-projetos div.proj h3 {
    padding: 2vw;
    font-size: 1.5rem;
  }
  
  div#lista-projetos div.proj p {
    padding: 2vw;
  }

  /* Skills */
  section#skills {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  section#skills div#tit-skills{
  margin: 3rem 5rem;
    text-align: center;
  }
  
  section#skills div#tit-skills h2{
    padding: 3rem;
    font-size: 2rem;
  }
  
  section#skills div img {
    margin: 2rem;
    width: 15vw;
    justify-content: space-between;
  }
  
  /* Contatos */
  section#contatos {
    border: solid 2px rgba(103, 62, 138, 1);
    border-radius: 20px;
    text-align: center;
    margin: 1rem 5rem;
    justify-content: space-between;
  }
  
  section#contatos h2{
    font-size: 2rem;
  }
  
  section#contatos div#lista-contatos {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  section#contatos div {
    text-align: center;
    gap: 3rem;
  }
  
  section#contatos .redes {
    width: 5vw;
    transition: 0.3s;
    cursor: pointer;
    flex-wrap: wrap;
  }
  
  .redes:hover {
    transform: scale(1.2);
  }
  
  section#contatos a {
    text-decoration: none;
  }
  
  .perfil {
    text-align: center;
    color: black;
  }
  
  .nome-rede {
    text-align: center;
    color: rgba(103, 62, 138, 1);
  }

}


@media (max-width: 900px){
  #btn-menu{
    display: flex;
    padding: .6rem 2rem;
    border: none;
    background-color: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburguer{
    width: 20px;
    border-top: 2px solid;
    background: white;
  }

  #hamburguer::after, #hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #navegacao.active #hamburguer{
    border-top-color: transparent;
  }

  #navegacao.active #hamburguer::before{
    transform: rotate(135deg);
  }

  #navegacao.active #hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }
  
  ul#menu {
    text-align: center;
    display: none;
    position: absolute;
    top: 6rem;
    right: 0;
    background-color: rgba(63, 34, 93, 1);
    transition: .6s;
  }

  #navegacao.active #menu{
    display: block;
  }

  #menu a{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid black;
  }

  /* Título principal */
  section#titulo-principal img{
    display: none;
  }

  /* Apresentação */
  section#apresentacao {
    width: 70vw;
    color: white;
    margin: 5vw auto;
    padding: 2rem;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 21%,
      rgba(63, 34, 93, 1) 55%,
      rgba(103, 62, 138, 1) 100%
    );
    box-shadow: 20px 20px 20px 20px #310e47;
  }

  section#apresentacao img {
    width: 30vw;
    border-radius: 3vw;
    border-style: solid;
  }
  
  section#apresentacao p {
    padding: 2rem 3rem 2rem 3rem;
  }

  /* Projetos */
  section#projetos {
    width: 100%;
  }
  
  section#projetos div#tit-projetos {
    margin: 3rem 5rem;
    text-align: center;
  }
  
  section#projetos div#tit-projetos h2 {
    padding: 3rem;
    font-size: 2rem;
  }
  
  div#lista-projetos {
    margin: 2rem 2rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  
  div#lista-projetos div.proj {
    width: 40vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 5px 5px 5px 5px #310e47;
  }
  
  div#lista-projetos figure img {
    padding: 2rem;
    align-items: center;
    width: 80%;
  }
  
  div#lista-projetos div.proj:hover {
    transform: scale(1.3);
    align-items: center;
    cursor: pointer;
  }
  
  div#lista-projetos div.proj h3 {
    padding: 2vw;
    font-size: 1.5rem;
  }
  
  div#lista-projetos div.proj p {
    padding: 2vw;
  }

  /* Skills */
  section#skills {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  section#skills div#tit-skills{
  margin: 3rem 5rem;
    text-align: center;
  }
  
  section#skills div#tit-skills h2{
    padding: 3rem;
    font-size: 2rem;
  }
  
  section#skills div img {
    margin: 2rem;
    width: 15vw;
    justify-content: space-between;
  }
  
  /* Contatos */
  section#contatos {
    border: solid 2px rgba(103, 62, 138, 1);
    border-radius: 20px;
    text-align: center;
    margin: 1rem 5rem;
    justify-content: space-between;
  }
  
  section#contatos h2{
    font-size: 2rem;
  }
  
  section#contatos div#lista-contatos {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  section#contatos div {
    /* padding: 2rem 0; */
    text-align: center;
    gap: 3rem;
  }
  
  section#contatos .redes {
    width: 5vw;
    transition: 0.3s;
    cursor: pointer;
    flex-wrap: wrap;
  }
  
  .redes:hover {
    transform: scale(1.2);
  }
  
  section#contatos a {
    text-decoration: none;
  }
  
  .perfil {
    text-align: center;
    color: black;
  }
  
  .nome-rede {
    text-align: center;
    color: rgba(103, 62, 138, 1);
  }

}



@media (max-width: 768px){
  section#titulo-principal {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  section#titulo-principal div h1 {
    width: 500px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    background: linear-gradient(
      90deg,
      rgba(103, 62, 138, 1) 21%,
      rgba(63, 34, 93, 1) 55%,
      rgba(0, 0, 0, 1) 100%
    );
    color: white;
    line-height: 4rem;
    font-size: 2rem;
  }
  
  section#titulo-principal p {
    font-size: 1.2rem;
    font-weight: 600;
  }

  /* Apresentação */
  section#apresentacao {
    margin: 0 auto;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 21%,
      rgba(63, 34, 93, 1) 55%,
      rgba(103, 62, 138, 1) 100%
    );
    box-shadow: 20px 20px 20px 20px #310e47;
  }

  section#apresentacao img {
    width: 30vw;
    border-radius: 3vw;
    border-style: solid;
  }
  
  section#apresentacao p {
    padding: 2rem 3rem 2rem 3rem;
  }
}



@media (max-width: 550px){
  /* Projetos */
  section#projetos {
    width: 100%;
  }
  
  section#projetos div#tit-projetos {
    margin: 3rem 5rem;
    text-align: center;
  }
  
  section#projetos div#tit-projetos h2 {
    padding: 3rem;
    font-size: 2rem;
  }
  
  div#lista-projetos {
    margin: 2rem 2rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  
  div#lista-projetos div.proj {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    box-shadow: 5px 5px 5px 5px #310e47;
  }
  
  div#lista-projetos figure img {
    padding: 2rem;
    align-items: center;
    width: 80%;
  }
  
  div#lista-projetos div.proj:hover {
    transform: scale(1.3);
    align-items: center;
    cursor: pointer;
  }
  
  div#lista-projetos div.proj h3 {
    padding: 2vw;
    font-size: 1.5rem;
  }
  
  div#lista-projetos div.proj p {
    padding: 2vw;
  }
}

@media (max-width: 480px){
section#titulo-principal {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  section#titulo-principal div h1 {
    width: 500px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    background: linear-gradient(
      90deg,
      rgba(103, 62, 138, 1) 21%,
      rgba(63, 34, 93, 1) 55%,
      rgba(0, 0, 0, 1) 100%
    );
    color: white;
    line-height: 4rem;
    font-size: 6.4vw;
  }
  
  section#titulo-principal p {
    font-size: 4vw;
    font-weight: 600;
  }
}