@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Menu de navegação */
header{
  display: flex;
  justify-content: space-between;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(103, 62, 138, 1) 21%,
    rgba(63, 34, 93, 1) 55%,
    rgba(0, 0, 0, 1) 100%
  );
  position: fixed;
  width: 100%;
  align-items: center;
}

header a#portifolio{
  margin: 0 0 0 10rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

ul#menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

ul#menu li {
  padding: 1.5rem;
}

ul#menu li.titulo {
    justify-content: flex-start;
}

ul#menu li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Titulo */
section#titulo-principal{
  width: 100%;
  padding: 5vw 0 0 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#titulo-principal div h1{
  width: 500px;
  height: 80px;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  background: linear-gradient(
    90deg,
    rgba(103, 62, 138, 1) 21%,
    rgba(63, 34, 93, 1) 55%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  line-height: 4rem;
  font-size: 2rem;
}

section#titulo-principal figure{
  padding: 0 0 0 10rem;
  width: 50%;
}
section#titulo-principal figure img{
  /* border-radius: 20px;
  border-style: solid; */
  width: 50%;
}

section#titulo-principal p{
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 0 0 3rem ;
}

/* Sobre mim */
section#apresentacao {
  width: 40vw;
  color: white;
  margin: 5vw auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 21%,
    rgba(63, 34, 93, 1) 55%,
    rgba(103, 62, 138, 1) 100%
  );
  box-shadow: 20px 20px 20px 20px #310e47;
}


section#apresentacao h2 {
    /* color: rgba(103,62,138,1); */
}
section#apresentacao img{
  width: 20vw;
   border-radius: 3vw;
  border-style: solid;
}


section#apresentacao p{
  padding: 2rem 3rem 2rem 3rem;
}

/* Projetos */
section#projetos{
  width: 100%;
}

section#projetos div#tit-projetos{
  margin: 20rem;
  text-align: center;
}

div#lista-projetos{
    margin: 15rem;
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

div#lista-projetos div.proj{
  width: 20vw;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: .5s ease;
  box-shadow: 5px 5px 5px 5px #310e47;
}

div#lista-projetos figure img{
  padding: 2rem;
  align-items: center;
  width: 80%;
}

div#lista-projetos div.proj:hover{
  transform: scale(1.5);
  /* background-color: black;
  color: white; */
}

/* section#projetos section div.proj{
    width: 15rem;
    padding: 5rem;
    margin: 5rem; 
} */



/* Contatos */
section#contatos {
  margin: 0 5rem;
  padding: 5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

section#contatos div{
  padding: 2rem 0;
  text-align: center;
}

section#contatos .redes {
  /* justify-content: center;
  align-items: center; */
  width: 15%;
  transition: .3s;
  cursor: pointer;
  flex-wrap: wrap;
}

.redes:hover{
    transform: scale(1.2)
}

section#contatos a {
  text-decoration: none;
}

.perfil {
  text-align: center;
  color: black;
}

.nome-rede{
    text-align: center;
    color: rgba(103, 62, 138, 1);
}




/* Footer */
footer{
    color: white;
    background: linear-gradient(
        90deg,
        rgba(103, 62, 138, 1) 21%,
        rgba(63, 34, 93, 1) 55%,
        rgba(0, 0, 0, 1) 100%
      );
      width: 100%;
}